replicaCount: 2

image:
  repository: prajwalbambulkar/3tiernodejs
  tag: "5"          # <-- Update this tag manually to promote to production
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 3000

containerPort: 3000
env:
  DB_HOST: mysql
  DB_USER: root
  DB_PASS: yourpassword
  DB_NAME: testdb
  DB_PORT: "3306"
  DB_PASS: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjoicHJhandhbCJ9.signature
